/* Colors */
$red: #ff3b00;
$black: #000;
$yellow: #fff500;
$blue: #426df7;
$grey: #f9f9f9;
$green: #3efb8b;
$babyBlue: #10c8ff;
$completedGrey: #bbb;
$purpleGrad: linear-gradient(45deg, #8210ff 0%,#9d00ff 100%);
$redGrad: linear-gradient(-40deg, #ff3b00 0%,#e01a52 100%);
$greenGrad: linear-gradient(135deg, #3efb8b 0%,#00ffbf 100%);

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

::selection {
  background: #ff3b00; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #ff3b00; /* Gecko Browsers */
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.container {
  margin: 15px auto;
}
header {
  background: $yellow;
  padding: 15px;
  margin-top: 35px;
  position: relative;
}
#login-buttons {
  display: block;
}
h1 {
  font-size: 1.5em;
  margin: 0 0 10px;
  display: inline-block;
  margin-right: 1em;
}
h2 {
  color: white;
  font-weight: bold;
}
.black {
  color: black !important;
}
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
.new-task input {
  box-sizing: border-box;
  padding: 5px 0;
  background: transparent;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 80px;
  font-size: 1em;
}
.new-task input:focus {
  outline: 0;
}
ul {
  margin: 0;
  padding: 0;
  background: white;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
  background-color: $grey;
  &.important {
    background-color: $red;
  }
}
li .text {
  margin-left: 10px;
}
li.checked {
  color: #888;
}
li.checked .text {
  text-decoration: line-through;
}
li.private {
  background: #eee;
  border-color: #ddd;
}
header .hide-completed {
  float: right;
}
.toggle-private {
  margin-left: 5px;
}


/* ul titles */

.title {
  margin-top: 5px;
  height: 70px;
  &.places {
    background: $purpleGrad;
  }
  &.my-tasks {
    background: $redGrad;
  }
  &.completed-tasks {
    background: $greenGrad;
  }
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}


/* Private toggle */

.p_svg {
  width: 19px;
  cursor: pointer;
  &.pub_svg {
    transform: translateY(0.5px);
  }
}
button {
  background: none;
  border: none;
  outline: none;
  &:focus {
    outline: none !important;
  }
}


/* Login button */
#login-buttons {
  display: inline-flex;
  a {
    color: black;
  }
  .login-close-text {
    text-decoration: none;
  }
  .login-button {
    color: black;
    background: none;
    border: none;
    border-radius: none;
    &:hover {
      color: black;
      text-decoration: underline;
      background: white;
      border: none;
      border-radius: none;
    }
  }
  .accounts-dialog {
    border: 4px solid #000;
    z-index: 1000;
    background: white;
    border-radius: 0px;
    padding: 8px 12px;
    margin: -8px -12px 0 -12px;
    width: 250px;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 16px;
    color: #333;


  }
  #login-dropdown-list {
    top: 35px;
    left: 12px;
  }

}


/* @media queries */

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
  .search {
    width: 150px;
    clear: both;
  }
  .new-task input {
    padding-bottom: 5px;
  }
}
