<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300' rel='stylesheet' type='text/css'>
  <title>Todor</title>
</head>

<body>
  {{> header}}
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
      <div class="title places col-xs-12">
        <h2>Places</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
      <div class="title my-tasks col-xs-12">
        <h2>My tasks ({{incompleteCount}})</h2>
      </div>
      <div class="no-padding col-xs-12">
        <ul class="myTasks">
          {{#each tasks}}
            {{#unless checked}}
              {{> task}}
            {{/unless}}
          {{/each}}
        </ul>
          <form class="new-task">
            <input type="text" name="text" placeholder="Type here to add a new task" />
          </form>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
      <div class="title completed-tasks col-xs-12">
        <h2>Completed tasks ({{completeCount}})</h2>
      </div>
      <div class="no-padding col-xs-12">
        <ul class="myTasks">
          {{#each tasks}}
          {{#if checked}}
            {{> task}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</body>

<template name="task">
  <li class="{{#if checked}}checked{{/if}}">
    <button class="delete">&times;</button>

    <input type="checkbox" checked="{{checked}}" class="toggle-checked"/>

    <span class="text">
      {{text}}
    </span>
  </li>
</template>

<template name="header">
  <div class="container-fluid header">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0">
      <header class="text-center">
        <h2 class="black">
              <span id="hello"></span><span>!</span>
        </h2>
      </header>
    </div>
  </div>
</template>
